main::before {
    content: "";
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;

    background-image: url("/SourceHop-Notes/assets/SourceHop-Images/ModelsJourney/13WorldsBG3.png");
    background-repeat: no-repeat;
    background-position: center top;
    background-position-y: -5rem;
    background-size: contain;

    /*Parallax Effekt*/
    transform: translateZ(-235px) scale(6);
    transform-origin: top center;
    z-index: -1;
}
main, body {
    background-color: black;
    }
section {
padding-left: 5%;
padding-right: 5%;
margin-bottom: 5%;
width: 90%;
}
h2 {
padding-left: 3rem;
color: white;
}
h1 {
color: white;
margin-top: 8rem;
margin-bottom: 1rem;
}
p {
padding-left: 5rem;
color: white;
margin-bottom: 1.65rem;
}