main {
display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: center;
align-items: center;
}
nav {
margin-bottom: 8rem;}
section {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
text-align: start;
max-width: 42%;
min-width: 42%;
margin: 5rem;
}